*{
  color: #3A5A40;
}

.custom-heading{
  font-weight: 600;
  font-size: 32px;
  line-height: 35px;
  
}
.custom-height{
  height: 94vh;
}

.custom-bg-color{
  background: #DAD7CD3D;
  width: 40%;
  padding: 8px 4px;
}